# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Nextflow directories
.nextflow/
.nextflow.log*
obtusa*

# Ignore output and work directories
output_test/
output*/
output_test_new/
output/
work/
future*
*pdf
*png
test*
test/*
report*

# Ignore specific scripts directory checkpoints
scripts/.ipynb_checkpoints
.vscode*