// nextflow.config for use in assembly pipeline

// Define parameters
params {

    // General parameters
    threads = 12
    memory = '50 GB'
    partition = 'standard'
    account = 'berglandlab'
    species_list = '/project/berglandlab/connor/obtusa/ncbi_genomes'
    
    // Directories
    outdir = '/project/berglandlab/connor/obtusa/obtusa_hifi'
    scripts_dir = '/project/berglandlab/connor/obtusa/bin'
    sifs_dir = '/home/csm6hg/sifs'

    // HiCanu parameters
    fastq = "/project/berglandlab/Robert/HMWDNAElvis3/fastq/m84128_250121_222443_s2.hifi_reads.bc2104.fq.gz"
    genomeSize = '180m'
    assemblyId = 'obtusa'
    
}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition} \
            --account=${params.account}" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = "${params.memory}" // Memory per job
            errorStrategy = 'finish'
        }
    }
}

// Define default process settings
process {
    // Set default resource allocations
    cpus = "${params.threads}"
    memory = "${params.memory}"
    errorStrategy = 'finish'
}

withLabel:process_high {
    cpus   = { 12    * task.attempt }
    memory = { 144.GB * task.attempt }
    time   = { 1000.h  * task.attempt }
}
withLabel:process_long {
    time   = { 1000.h  * task.attempt }
}
withLabel:process_high_memory {
    memory = { 400.GB * task.attempt }
}

// Diagram configuration
dag {
    enabled = true
    file = 'flowchart.png'
    format = 'png'
}

// Report configuration
report {
    enabled = true
    file = 'report.html'
}

// Overwrite existing DAG and report files
dag.overwrite = true
report.overwrite = true
